@font-face {
    font-family: "Parisiene";
    src: url(../fonts/Parisienne.ttf) format("truetype");
}

@font-face {
    font-family: "TheSeasons";
    src: url(../fonts/TheSeasons.otf) format(truetype);
}

@font-face {
    font-family: "Miama";
    src: url(../fonts/Miama.otf) format(truetype);
}