#front-page {
    height: 100vh; /*Abarca el 100% de la pantalla*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra los elementos verticalmente */
  
    /*Background estilo gradiante*/
    background: linear-gradient(140deg,#ffeca8be,#faa392,#eec3b0,#ecc8ac,#ddb290,#cca686,#ffe0b6,#ecc09d,#f1e9e2,#e9e5e3);
    background-size: 400% 300%;
    animation: BgGradient 12s ease infinite;
}

#front-page img {
    width: 100px;
    height: 100px;
}

.filter-brown {
    filter: invert(27%) sepia(5%) saturate(2894%) hue-rotate(319deg) brightness(93%) contrast(82%);
}


#front-page .misXV { /* TEXT: MIS XV AÑOS */
    font-family: "TheSeasons";
    font-size: 30px;
    text-align: center; 
    margin-bottom: 35px;
    color: #634642;
}

#front-page .name { /* TEXT: Miriam */
    font-family: "Parisiene";
    font-size: 69px;
    text-align: center; 
    margin-top: 20px;
    color: #634642;
}


/*Animación del banner*/
@keyframes BgGradient {
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
  }
  
