section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra los elementos verticalmente */
  
}

p {
    max-width: 800px;
    text-align: center;
}